.container {
    width: 600px;
    height: 700px;
    margin: auto;
    margin-top: 80px;
    border-radius: 20px;
    background-color: #116A7B;
}

.elements {
    margin: auto;
    display: flex;
   align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 6px;
}

.data {
    font-size: 25px;
    color: #F3EEEA;
}

.text {
    font-size: 20px;
    color: #F3EEEA;
}
